<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume Template Selector</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/RESBIL/templates/css/templates.css"
    />
  </head>
  <body>
    <div class="container">
      <a href="/RESBIL/templates/template1/template1.html" class="template">
        <img src="/RESBIL/templates/template1/cover.png" alt="Template 1" />
        <p>Template 1</p>
      </a>
      <a href="/RESBIL/templates/template2/template2.html" class="template">
        <img src="template2.jpg" alt="Template 2" />
        <p>Template 2</p>
      </a>
      <a href="/RESBIL/templates/template3/template3.html" class="template">
        <img src="template3.jpg" alt="Template 3" />
        <p>Template 3</p>
      </a>
      <a href="/RESBIL/templates/template4/template4.html" class="template">
        <img src="template4.jpg" alt="Template 4" />
        <p>Template 4</p>
      </a>
    </div>
  </body>
</html>
